[Unit]
Description=Prepare Cosmopod persistent state
Wants=sshdgenkeys.service
After=data.mount local-fs.target sshdgenkeys.service
Before=NetworkManager.service sshd.service weston.service cosmopod-firstboot.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/cosmopod-persist
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
